.ShoppingCartHome-container{
    background: #f1f0ec;
    height: 100%;
    padding-top: 80px;
}

.span-hover-detailproduct:hover{
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.7;
}